{% extends 'basic.html' %}
{% load static %}
{% block title %} Petrol Pump Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<body style="background-color:#9ED2BE">
<div class="container">
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <br>
        <h1 class="text-center"><u>Petrol Pump Registration</u></h1>
    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Username</i></label>
            <input type="text" class="form-control mt-2" name="username" placeholder="Enter Username" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">First Name</i></label>
            <input type="text" class="form-control mt-2" name="first_name" placeholder="Enter First Name" required>
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Last Name</i></label>
            <input type="text" class="form-control mt-2" name="last_name" placeholder="Enter Last Name" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Email</i></label>
            <input type="email" class="form-control mt-2" name="email" placeholder="Enter Email" required>
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Mobile Number</i></label>
            <input type="number" class="form-control mt-2" name="phone" placeholder="Enter Mobile Number" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Pump Name</i></label>
            <input type="text" class="form-control mt-2" name="pump_name" placeholder="Enter Pump Address" required>
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Pump Address</i></label>
            <input type="text" class="form-control mt-2" name="address" placeholder="Enter Pump Address" required>
        </div>
    </div>
    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Pump Image</i></label>
            <input type="file" class="form-control mt-2" name="image" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Password</i></label>
            <input type="password" class="form-control mt-2" name="password" placeholder="Enter Password" required>
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Confirm Password</i></label>
            <input type="password" class="form-control mt-2" name="confirm_password" placeholder="Confirm Password" required>
        </div>
    </div>
    <button type="submit" class="btn btn-warning mt-4">Register As Petrol Pump</button>
</form>
</div>
</body>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Registration Successfull.")
    document.location = "/owner_login"
    {% endif %}
</script>
{% endblock %}

