{% extends 'owner_navbar.html' %}
{% load static %}
{% block title %} Petrol Pump Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<body style="background-color:#9ED2BE">
<div class="container mt-4">
    <h1 class="text-center"><u>All Employees List</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for e in employees %}
            <tr>
                <td>{{e.emp_no}}.</td>
                <td>{{e.first_name}} {{e.last_name}}</td>
                <td>{{e.phone}}</td>
                <td>{{e.email}}</td>
                <td>
                    <a href="/view_employee_details/{{e.emp_no}}/" class="btn btn-danger" title="View"><i class="fa fa-eye"></i></a>
                    <a href="/edit_employee/{{e.emp_no}}/" class="btn btn-danger" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="/delete_employee/{{e.emp_no}}/" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this employee?')" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% endblock %}
